{% extends '::base.html.twig' %}

{% block body %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div id="wrapper">

        {% include 'GYGAppBundle::_partials/menu_admin.html.twig' with {'user': user } only %}

        <div id="page-wrapper">
            {% include 'GYGAppBundle::Default/index.html.twig' %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}