{% extends '::base.html.twig' %}

{% block body %}

    <h1>Formulaire Point d'Apport</h1>

    <div class="formulaire">
        <form   {% if pointApport is defined %} action="{{ path('gyg_app_edit_point_apport', {'idPointApport': pointApport.id}) }}"
                {% else %} action="{{ path('gyg_app_edit_point_apport') }}"
                {% endif %}
                method="post"
                {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock %}