<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('gyg_app_homepage') }}">
            <img src="{{ asset('img/logo-bba-2.png') }}">
            <p>
                Bourg-en-Bresse
                </br>
                Agglomération
            </p>
        </a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-left top-nav">
        <li><h2>Carte</h2></li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <div class="text-center" style="color: #f6f6f6">
                <h2>Filtres</h2>
            </div>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#dechet_menu">
                    <i class="fa fa-cubes"></i>
                    Je souhaite jeter...
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul id="dechet_menu" class="collapse in">
                    <li style="padding: 10px;">
                        <div class="">
                        <input type="checkbox" id="filtre-dechet-menager"
                               name="filtre-dechet" value="menager">
                        <label for="filtre-dechet-menager">Déchets ménagers</label>
                        </div>
                    </li>
                    <li style="padding: 10px;">
                        <input type="checkbox" id="filtre-dechet-metallique"
                               name="filtre-dechet" value="metallique">
                        <label for="filtre-dechet-metallique">Déchets métalliques</label>
                    </li>
                    <li style="padding: 10px;">
                        <input type="checkbox" id="filtre-dechet-papier-carton"
                               name="filtre-dechet" value="papier-carton">
                        <label for="filtre-dechet-papier-carton">Papier/Carton</label>
                    </li>
                    <li style="padding: 10px;">
                        <input type="checkbox" id="filtre-dechet-verre"
                               name="filtre-dechet" value="verre">
                        <label for="filtre-dechet-verre">Verre</label>
                    </li>
                    <li style="padding: 10px;">
                        <input type="checkbox" id="filtre-dechet-plastique"
                               name="filtre-dechet" value="plastique">
                        <label for="filtre-dechet-plastique">Plastique</label>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:" data-toggle="collapse" data-target="#dechet_soin_menu">
                    <i class="fa fa-heartbeat"></i>
                    Dechet Soin
                </a>
            </li>
            <li>
                <a href="javascript:" data-toggle="collapse" data-target="#textile_menu">
                    <i class="fa fa-suitcase"></i>
                    Textile
                </a>
            </li>
            <li>
                <a href="javascript:" data-toggle="collapse" data-target="#dechetterie_menu">
                    <i class="fa fa-recycle"></i>
                    Déchetteries
                </a>
            </li>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#trajet_menu">
                    <i class="fa fa-truck"></i>
                    Afficher les trajets
                </a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /#sidebar-wrapper -->