/* Global Styles */

body {
    margin-top: 100px;
    background-color: #E0E8F7;
}

@media(min-width:768px) {
    body {
        margin-top: 70px;
    }
}

#wrapper {
    padding-left: 0;
    background-color: #E0E8F7;
    border-top: solid 1px #C7C7C7;
}

.page-wrapper {
    width: 100%;
    background-color: #E0E8F7;

}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
}

/* Top Navigation */

.top-nav {
    display: none;
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-bottom: 15px;
    color: #999;
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #28303E;
    border-bottom: dashed 1px #28303E;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .navbar {
        background-color: #ffffff !important;
    }

    .top-nav {
        display: inline-block;
    }

    .side-nav {
        position: fixed;
        top: 70px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #333C4E;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #28303E !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 40px;
    text-decoration: none;
    color: #999;
}

.side-nav .checkbox-collapse li {
    padding: 10px 15px 10px 40px;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Custom Rules */
* {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #5a6169;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amaranth', sans-serif;
}

.side-nav>li:first-child {
    margin-top: 25px;
}

.side-nav li a {
    color: #D0D0D0 !important;
}

.side-nav li a {
    padding: 20px;
}

.side-nav .fa {
    margin: 0 5px;
    text-shadow: 1px 1px 0 #2B2B2B;
    color: #15A4FA;
}

.side-nav .collapse.in, .side-nav .collapsing {
    box-shadow: inset 1px 1px 5px #1E2227;
    background-color: #232B38;
    border-left: solid 3px #15A4FA;
    list-style: none;

}

.side-nav .collapse.in li a:hover {
    background-color: #283242 !important;
}

.navbar {
    background-color: #333C4E;
    background-image: none;
    border: none;
}

.navbar .navbar-brand {
    width: 225px;
    background-color: #15A4FA;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.navbar .navbar-brand > img{
    display: block;
    width: 70px;
    float: left;
    margin-top: 5px;
}

.navbar .navbar-brand > p{
    float: left;
    font-size: 15px;
    text-align: left;
    line-height: 15px;
    margin-top: 20px;
    color: white;
    margin-left: 10px;
}

.navbar .navbar-brand:hover {
    background-color: #15A4FA;
    color: #ffffff;
    cursor: pointer;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* --------------- */

#admin-form {
    width: 90%;
    margin: 40px auto;
}

#admin-form #map {
    width: 100%;
    height: 350px;
}

#admin-form h2 {
    margin-bottom: 40px;
}

#admin-form .form > div > div {
    margin: 50px auto;
    padding: 20px;
    border: dashed 3px #15A4FA;
    border-radius: 10px;
}

#admin-form .btn[type="submit"] {
    padding: 10px 30px;
}

#admin-form label {
    font-weight: 300;
    font-size: 20px;
    background-color: #a0aec3;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

#admin-form input[type="checkbox"] + label, #admin-form input[type="radio"] + label {
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #5a6169;
}

/* --------------- */

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; color: #15A4FA; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; color: #15A4FA; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

/* -------------- */

.address-field input {
    width: 90%;
    display: inline-block;
    height: 40px;
    border-radius: 3px;
    border: none;
    border-bottom: solid 1px #BEBDBD;
    padding: 10px;
    background-color: #DFDFDF;
}

.address-field {
    text-align: center;
    margin-bottom: 0;
}

#map #popup img {
    display: block;
    margin: 0 auto;
}

/* ------------- */
.modal-header {
    background-color: #15A4FA;
    color: white;
}

.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
}

/* ------------- */
.btn-file i{
    color: white;
}